body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#wheel {
  font-size: 100px;
  margin: 30px;
  transition: transform 2s ease-out;
}

ul {
  list-style: none;
  padding: 0;
}
